<header>
  <app-navbar></app-navbar>
</header>

<main>
  <div class="container">
    <h1 class="my-4">
      La mia pagina
    </h1>

    <h3 class="mb-3">Visualizza:</h3>

    <div>
      <label for="libri">Libri</label>
      <input type="radio" name="selectedOption" value="libri" id="libri" [(ngModel)]="selectedOption">
    </div>

    <div class="mb-3">
      <label for="film">Film</label>
      <input type="radio" name="selectedOption" value="film" id="film" [(ngModel)]="selectedOption">
    </div>

    <div *ngIf="selectedOption === 'libri'">
      <app-lista-libri></app-lista-libri>
    </div>

    <div *ngIf="selectedOption === 'film'">
      <app-lista-film></app-lista-film>
    </div>
  </div>
</main>